body {
margin: 0px; 
 
}

/* flex-box (obligatoire ===> display-flex) :::  */
/* 
navbar ::::  ::::::  */
header {
    background-color: #C492B1;
    display: flex;
    justify-content: space-between;
   align-items: center;
  
}

.link-container{
 
    margin-right: 30px;
}

.link-container a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight:700;
    color: black;
}

.link-container a:hover {
    color: white;
}

header h3 {
    margin-left: 30px;
}


/* cover - photo  */

.cover-photo{
    background-image: url("./images/cover-photo.jpg");
    height: 450px;
    background-position: center;
    background-size: cover;
    padding: 100px;
}

.cover-photo h3 {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

.cover-photo h1 {
    color: #C6C7C4;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cover-photo button {
    background-color: #FFE033;
    padding: 15px;
    font-weight: bolder;
    border: transparent;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 50px;
    cursor: pointer;
   transition: 1s;

}

.cover-photo button:hover{
    color: white;
    transform: scale(1.1,1.1);
}




.social-media-container a {
    margin-left: 15px;
    color: white;
    font-size: 30px;
    transition: 1s;
  
}


.social-media-container a:hover{
    color: rgb(28, 165, 196);
    transform: scale(3.1,3.1);
}


/* service section :::  */


.card-service-container{
    border: solid 1px black;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
   

}

.services h1 {
   font-size: 60px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-family: "Manrope", sans-serif;
   font-optical-sizing: auto;
 

  
   
}

.card-service-container{
    margin: 20px 20px;
    height: 300px;
    width: 28%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;

}
.card-service-container:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.468);
}

.logo-container{

text-align: center;
}

.logo{
    font-size: 120px;
    transition: 0.5s;

}

.card-service-container:hover .logo{
    transform: rotate(360deg);    
}

/* rotate ===> rotation  */

.card-info-container{

    margin-top: 110px;
}

.info{

    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.card-info-container h4 {
  font-size: 18px;
  margin-left: 5px;
}

.info a {
    text-decoration: none;
    font-weight: 700;
}

.services{

    padding: 40px;
}


/* project ::::  */

.img-container{
  
    height: 180px;
}

.img-container img {
   height: 100%; 
}

.card{
    border: solid 0.5px rgb(16, 15, 15);
    border-radius: 8px;
    margin: 30px 10px;
    cursor: pointer;
    transition: 1s;
 

    
}

.card:hover{
    transform: scale(1.1,1.1);
}

.crad-container{
 
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.info button {
    background-color: #C492B1;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.info button:hover{
    transform: scale(1.1,1.1);
    background-color: black;
    color: white;
}

.project-title{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.app {
    /* background-color: #C492B1; */

    background: linear-gradient( to right ,  #C492B1, #d768ad , #e54caa);
}

/* contact section  :::: */

.logo-card-container{
    display: flex; 
    flex-direction: row;
    justify-content: center;


}

.contact-card{
    border: solid 1px;

    height: 350px;     
    margin: 0px 10px;
    width: 380px;
    cursor: pointer;
    border-radius: 8px;
    transition: 1s;
}

.contact-card:hover {
    transform: scale(1.1,1.1);
  
}

.contact{
    padding: 100px;
}

.contact h1{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto; 
}

.logo-card {
    text-align: center;
    font-size: 120px;
}

.contact-card h4 {
    margin-top: 180px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}



/* footer ::::  */
footer {
    background-color: #C492B1;
    display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
padding: 0px 80px;
}

.social-media-links-footer a {
    margin: 0px 10px;
    font-size: 20px;
    color: black;
}
footer p span {
    font-weight: 900;
}

/* height ===> toul

width ===> 3orodh 

margin ==> espace men bara
padding ==> espace men dekhil ; 
font-size ===> nkabrou beha text wela logo ; 
font-weight ===> tkhachen beha lektiba ; 
font-family ===> njibou beha font eli bech tekteb bih men  resources  externes .. 
 boreer  ===> hiya lahdoud ; 
 text-aligh ====> (start ,center , end)  ===> t7otlek text fel blassa eli t7eb aleha par rapport el parent eli element fih ;  */
